.form-container {
    display: flex;
    align-items: center; /* Vertically center the items */
  }
  
  .stretch-input {
    flex-grow: 1; /* Make the input stretch to fill available space */
    padding: 8px; /* Adjust padding as needed */
    border: 1px solid #ccc; /* Add border for styling */
    border-radius: 4px; /* Add border radius for styling */
    margin-right: 8px; /* Add spacing between input and button */
  }
  
  .action-button {
    padding: 8px 1px; /* Adjust padding as needed */
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 4px; /* Add border radius for styling */
    cursor: pointer;
  }

/* Structure */
.example-container {
    position: relative;
  }
  
  .example-table-container {
    position: relative;
    min-height: 200px;
    max-height: 450px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }
  